.feedbackcont {
  .feedbackhead {
    h3 {
      color: var(--dark-color, #21243d);
      font-family: Heebo, sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: 30px; /* 187.5% */
    }
    p {
      color: #898989;
      font-family: Heebo, sans-serif;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
