.Easycontainer {
  h1,b{
    font-family: 'Open Sans', sans-serif;
  }
  p{
    font-family: 'Montserrat', sans-serif;
  }
  .header {
    nav {
      a {
        font-family: 'Montserrat', sans-serif;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 600;
      }
      button {
        font-family: Manrope;
        font-size: 1.2rem;
      }
    }
  }
  .Enhance {
    h1 {
      color: #333;
      font-family: 'Open Sans', sans-serif;
      // font-size: 3.3rem;
      font-style: normal;
      font-weight: 700;
    }
    p{
      font-family: 'Montserrat', sans-serif;
    }
  }
  .overview {
    .firstcont {
      b {
        font-family: 'Open Sans', sans-serif
      }
      p {
        color: rgba(16, 24, 40, 0.6);
        font-family: 'Montserrat', sans-serif;
      }
    }
    .secondcont {
      div {
        b {
          color: #3b3b3b;
          font-family: 'Open Sans', sans-serif;
          font-size: 1.5rem;
        }
        div {
          color: rgba(16, 24, 40, 0.6);
          font-family: 'Montserrat', sans-serif;
          font-size: 0.9rem;
        }
      }
    }
  }
  .integration {
    
    .maincol {
      h2 {
        color: rgba(16, 24, 40, 0.8);
        font-family: 'Montserrat', sans-serif;
      }
      p {
        color: rgba(16, 24, 40, 0.6);
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
      }
    }
  }
}
