.browserpage {
  .maincont {
    .button {
      cursor: pointer;
      max-width: 500px;
      width: 100%;
      border: 1px solid #eaeaea;

      h2 {
        color: #4a4a4a;
        font-family: Heebo, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
