@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Hebrew:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  @apply leading-[normal] m-0;
}
a{
  font-family:'Montserrat', sans-serif;
}
h1,b{
  font-family: 'Open Sans', sans-serif;
}
p,div,label{
  font-family: 'Montserrat', sans-serif;
}
button:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}
.monteserrat{
  font-family: 'Montserrat', sans-serif;
}
.manrope{
  font-family: 'Manrope', sans-serif;
}
.opensans{
  font-family: 'Open Sans', sans-serif;
}

input[type="checkbox"]:checked {
  background-color: #4F46BA !important;
}
*,
::before,
::after {
  border-width: 0;
}
